.git
.cursor
.fleet
.idea
.vscode
node_modules
vendor
.env
.env.*
!.env.docker.example
public/build
public/hot
bootstrap/ssr
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/debugbar/*
npm-debug.log
yarn-error.log
docker-compose.override.yml
